<div class="container">
  <nav class="admin-nav navbar navbar-expand navbar-dark bg-secondary rounded shadow-sm mb-4">
    <div class="navbar-nav">
      <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">
        <i class="fa fa-users mr-1"></i> Accounts
      </a>
      <a routerLink="employees" routerLinkActive="active" class="nav-item nav-link">
        <i class="fa fa-id-card mr-1"></i> Employees
      </a>
      <a routerLink="departments" routerLinkActive="active" class="nav-item nav-link">
        <i class="fa fa-building mr-1"></i> Departments
      </a>
      <a routerLink="requests" routerLinkActive="active" class="nav-item nav-link">
        <i class="fa fa-clipboard-list mr-1"></i> Requests
      </a>
      <a routerLink="workflows" routerLinkActive="active" class="nav-item nav-link">
        <i class="fa fa-project-diagram mr-1"></i> Workflows
      </a>
    </div>
  </nav>
</div>