<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transfer Employee: {{employee?.employeeId}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Department</label>
            <select class="form-select" [(ngModel)]="employee.departmentId">
              <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="transfer()">Transfer</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>